<p>Привет, <%= @user.first_name %></p>

<p>Вы сдали билет по маршруту "<%= @ticket.route_name %>".</p>
<p>Новый билет Вы можете преобрести <%= link_to "здесь", search_url %>.</p>
<p>Список купленных билетов Вы можете посмотреть <%= link_to "здесь", tickets_url%>.</p>
